<ul>
  <li><%= link_to('Export Qr code', export_qr_code_path(params: params.except(:action, :controller))) if params[:action] == 'index' %></li>
</ul>

<%= javascript_include_tag 'jquery.qrcode.min.js', :plugin => 'redmine_qr_issue' %>
<script type="text/javascript">
  (function($){

    $(".issue_qrcode").each(function() {
      var e = $(this);
      e.qrcode({width:50, height:50, text:e.attr('title')});

    });
  })(jQuery);
</script>
